.App {
  text-align: center;
}

.headerDiv {
  text-align: center;
}

.cardItems {
  margin: 10px;
}

.itemContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: none;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 85%;
  height: 75%;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.itemContainer:hover {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.myButton {
  width: 80px;
  border-radius: 5px;
  background-color: white;
  outline: none;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.searchTextbox {
  width: 70%;
  height: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 12px;
  outline: none;
}
